#include "resource.h"

IDR_MENU1 MENU
BEGIN
POPUP "File"
BEGIN
MENUITEM "Open", ID_FILE_OPEN
MENUITEM "Save", ID_FILE_SAVE
END
POPUP "Edit"
BEGIN
MENUITEM "Find", ID_EDIT_FIND
MENUITEM "Replace", ID_EDIT_REPLACE
END
END

IDD_REPLACE_DIALOG DIALOGEX 0, 0, 300, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "Find what:", -1, 10, 10, 50, 10
	EDITTEXT        IDC_FINDTEXT, 70, 10, 200, 12, ES_AUTOHSCROLL
	LTEXT           "Replace with:", -1, 10, 40, 50, 10
	EDITTEXT        IDC_REPLACETEXT, 70, 40, 200, 12, ES_AUTOHSCROLL
	DEFPUSHBUTTON   "Replace", IDC_REPLACE, 70, 70, 50, 14
	DEFPUSHBUTTON   "Replace", IDC_REPLACE, 70, 70, 50, 14
	PUSHBUTTON      "Replace All", IDC_REPLACEALL, 130, 70, 50, 14
END
